* {
	box-sizing: border-box;
}

@font-face {
	font-family: 'Proximanova';
	src: url('./fonts/ProximaNova-Light.otf') format('opentype');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Proximanova';
	src: url('./fonts/ProximaNova-Regular.otf') format('opentype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Proximanova';
	src: url('./fonts/ProximaNova-Bold.otf') format('opentype');
	font-weight: 700;
	font-style: normal;
}

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	background-color: #ddd;
	font-family: Proximanova, sans-serif;
	color: #333;
	font-size: 14px;
	line-height: 20px;
}

p {
	margin-bottom: 10px;
	font-family: Proximanova, sans-serif;

	letter-spacing: 1.5px;
}

@media (max-width: 991px) {
	p {
		font-size: 12px;
		line-height: 21px;
	}
}
